[Unit]
Description=SHEEPIT

[Service]
ExecStartPre=-/usr/local/sbin/load_cuda.sh
ExecStart=java -jar /usr/lib/sheepit-client.jar -h
Restart=always
Type=simple
RestartSec=60s

[Install]
WantedBy=multi-user.target
