Package: webhookd
Version: VERSION-TO-REPLACE
Section: net
Priority: optional
Architecture: ARCHI-TO-REPLACE
Maintainer: Azlux <github@azlux.fr>
Description: A very simple webhook server launching shell scripts.
Homepage: https://github.com/ncarlier/webhookd
Bugs: https://github.com/ncarlier/webhookd/issues
