[Unit]
Description=WEBHOOKD

[Service]
ExecStart=/usr/local/bin/webhookd
User=webhookd
Group=webhookd
EnvironmentFile=-/etc/default/webhookd.env
EnvironmentFile=-/etc/webhookd.env
Restart=always
Type=simple
RestartSec=30s

[Install]
WantedBy=multi-user.target
