Package: bpytop
Version: VERSION-TO-REPLACE
Section: net
Priority: optional
Architecture: all
Depends: python3-pip python3
Maintainer: Azlux <github@azlux.fr>
Description: Linux/OSX/FreeBSD resource monitor, Python port of bashtop.
Homepage: https://github.com/aristocratos/bpytop
Bugs: https://github.com/aristocratos/bpytop/issues
